# Standard Stuff
jupyterlab
hist[plot]

# If running distributed...
dask[distributed]

# Coffea - problem somehow with urllib - so you migth have to
# do this install by hand.
wheel

# coffea[servicex] -- Currently needs the https://github.com/gordonwatts/coffea/tree/pr_servicex_executors version.

# To help with writing code
flake8
