# Standard Stuff
jupyterlab
hist[plot]

# If running distributed...
dask[distributed]

# Coffea - problem somehow with urllib - so you migth have to
# do this install by hand.
wheel

# coffea[servicex] -- Currently needs the https://github.com/gordonwatts/coffea/tree/pr_servicex_executors version.
git+https://github.com/gordonwatts/coffea.git@pr_nano_open_uri#egg=coffea[servicex]
func-adl-servicex==1.1.2b1

# To help with writing code
flake8
